@font-face {
    src: url("../../assets/fonts/Monster-Clubhouse.ttf");
    font-family: $font-monster;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    src: url("../../assets/fonts/Poppins-Medium.ttf");
    font-family: $font-poppins-medium;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    src: url("../../assets/fonts/Poppins-Regular.ttf");
    font-family: $font-poppins-regular;
    font-weight: normal;
    font-style: normal;
  }

html {
    font-size: 18px;
    width: 100%;
    min-width: 375px;
}

body {
    position: relative;
  }

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    letter-spacing: 0.15px;
  } 

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}


