
/*Colores*/
$primary: #D84A4A;
$yellow: #F7C600;
$blue: #1E3C72;
$red: #E31E24;
$green: #00A650;
$gray: #F2F2F2;
$black: #000000;
$white: #FFFFFF;
$color-primary: "#2E8BCC";
$color-secondary: "#E25141";

/*fonts*/
$font-monster: "Monster";
$font-poppins-regular: "Poppins-regular";
$font-poppins-medium: "Poppins-medium";


/*Breakpoints*/
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 769px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1800px;
$small: 428px;
$medium: 900px;







